@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  font-family: "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* background-color: rgba(224, 209, 188, 0.562); */
}
nav {
  background-color: #fbfbfb;
  /* box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1); */
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}
nav ul {
  width: 100%;
  height: 60px;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li {
  height: 50px;
  color: #3b3b3b;
  font-size: 20px;
  font-family: Alkarta;
  font-weight: 700;
}

nav ul li:first-child {
  display: flex;
  align-items: center;
  margin-left: 140px;
  font-size: 20px;
  font-weight: 600;
  color: #3b3b3b;
  font-family: Alkarta;
}

nav ul li:last-child {
  margin-right: 140px;
}

nav ul li:first-child img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

nav a {
  height: 100%;
  padding: 0 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #3b3b3b;
  font-size: 18px;
  transition: all 0.3s ease;
}

nav a:hover {
  transform: translateY(-3px);
}
nav li:first-child {
  margin-right: auto;
  font-family: "Alkatra", sans-serif;
}

.short-about h3 {
  margin: 85px auto 0px auto;
  max-width: 800px;
  text-align: center;
  justify-content: center;
  background-color: #fbfbfb;
  font-family: Alkarta;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.6;
}

.about-section {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  background-color: #fbfbfb;
}

.about-image {
  margin-right: 80px;
}

.about-image img {
  height: 400px;
  width: 300px;
  display: block;
}

.about-content {
  flex-grow: 1;
  text-align: left;
}

.about-content p {
  font-size: 18px;
  color: #3B3B3B;
  line-height: 1.8;
}

.about-content p a{
  color: #036067;
  font-weight: 600;
}

.about-content p a:hover{
  color: rgba(255, 0, 0, 0.699);
  transition: ease-in 0.1s;
}

.about-content button {
  padding: 20px 25px;
  margin-top: 50px;
  border-radius: 40px;
  font-size: 20px;
  font-weight: 600;
  font-family: Alkarta;
  border-color: #036067;
  border-width: 2px;
  transition: ease-out 0.2s;
  color: #036067;
  background-color: #fbfbfb;
  letter-spacing: 1px;
}

.about-content button:hover {
  padding: 20px 25px;
  background-color: #036067;
  color: #fff;
  cursor: pointer;
}

.skill {
  background-color: #f6f4f1;
  color: #3b3b3b;
  padding: 20px 0;
  text-align: center;
  height: 350px;
  margin-top: 80px;
}
.skill-columns {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}
.skill-column {
  width: calc(25% - 20px);
  margin-bottom: 20px;
}
.skill-column h3 {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: 800;
  letter-spacing: 1.5;
  font-family: sans-serif;
}
.skill-column ul {
  list-style-type: none;
  padding: 0;
}
.skill-column ul li {
  margin-bottom: 15px;
  font-family: sans-serif;
  font-size: 17.5px;
  font-weight: 400;
}

.skill-column ul li a {
  color: #036067;
  text-decoration: none;
  font-size: 17px;
}

.skill-column ul li a:hover {
  cursor: pointer;
  color: rgba(255, 0, 0, 0.699);
  transition: ease-in 0.1s;
}

/* customisation: visited list should remain in red */

.extra-heading h2 {
  max-width: 900px;
  margin: 50px auto 10px auto;
  padding: 10px;
  background-color: #fbfbfb;
  color: #3b3b3b;
  font-size: 37px;
  font-family: Alkarta;
}

.extra-section {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  background-color: #fbfbfb;
}

.extra-image {
  margin-right: 80px;
}

.extra-image img {
  height: 300px;
  width: 200px;
  display: block;
  margin-left: 90px;
  justify-content: center;
}

.extra-content {
  flex-grow: 1;
  text-align: left;
}

.extra-content p {
  font-size: 17px;
  color: #666;
  line-height: 1.5;
}

.extra-content p a{
  color:#036067;
  font-weight: 600;
}

.extra-content p a:hover{
  color: rgba(255, 0, 0, 0.699);
  transition: ease-in 0.1s;
}

.hover-links {
  text-align: center;
  justify-content: center;
  padding: 20px;
  margin-top: 90px;
  background-color: #f6f4f1;
  color: #000000;
  /* bottom: 0;
    left: 0; */
  width: 100%;
  height: 220px;
}

.hover-links h2 {
  font-size: 30px;
  font-weight: 700;
  font-family: Alkarta;
  color: #3b3b3b;
  margin-bottom: 20px;
  margin-top: 30px;
}

.hover-links a {
  color: #3b3b3b;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  /* margin-left: 10px; */
  font-size: 28px;
}
.hover-links a:nth-child(3) {
  margin-left: 10px;
}
.hover-links a:nth-child(4) {
  margin-left: 10px;
}

.hover-links hr {
  margin-top: 30px;
  margin-bottom: 10px;
  background-color: rgb(0, 0, 0);
}

.hover-links a:hover {
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.hover-links .ri-copyright-line {
  margin-bottom: 35px;
  font-size: 18px;
  color: #3333339d;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 60px;
  right: 40px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #fbfbfb;
  color: #333;
  font-weight: 600;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  font-size: 25px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.14);
}

#myBtn:hover {
  transform: translateY(3px); 
}

